* {
    margin: 0;
    padding: 0;
    color: var(--font-color);
    box-sizing: border-box;
    font-family: Inter;
}

html {
    overflow: hidden;
}

:root {
    --green-1: #37A14D;
    --green-2: #0C541B;
    --green-2-translucent: #0c541bbf;
    --red-1: #ED687A;
    --red-2: #A13746;
    --font-color: #fff;

    --red-2-text-stroke-5: -5px -5px 0px var(--red-2),
    -5px -4px 0px var(--red-2),
    -5px -3px 0px var(--red-2),
    -5px -2px 0px var(--red-2),
    -5px -1px 0px var(--red-2),
    -5px 0px 0px var(--red-2),
    -5px 1px 0px var(--red-2),
    -5px 2px 0px var(--red-2),
    -5px 3px 0px var(--red-2),
    -5px 4px 0px var(--red-2),
    -5px 5px 0px var(--red-2),
    -4px -5px 0px var(--red-2),
    -4px -4px 0px var(--red-2),
    -4px -3px 0px var(--red-2),
    -4px -2px 0px var(--red-2),
    -4px -1px 0px var(--red-2),
    -4px 0px 0px var(--red-2),
    -4px 1px 0px var(--red-2),
    -4px 2px 0px var(--red-2),
    -4px 3px 0px var(--red-2),
    -4px 4px 0px var(--red-2),
    -4px 5px 0px var(--red-2),
    -3px -5px 0px var(--red-2),
    -3px -4px 0px var(--red-2),
    -3px -3px 0px var(--red-2),
    -3px -2px 0px var(--red-2),
    -3px -1px 0px var(--red-2),
    -3px 0px 0px var(--red-2),
    -3px 1px 0px var(--red-2),
    -3px 2px 0px var(--red-2),
    -3px 3px 0px var(--red-2),
    -3px 4px 0px var(--red-2),
    -3px 5px 0px var(--red-2),
    -2px -5px 0px var(--red-2),
    -2px -4px 0px var(--red-2),
    -2px -3px 0px var(--red-2),
    -2px -2px 0px var(--red-2),
    -2px -1px 0px var(--red-2),
    -2px 0px 0px var(--red-2),
    -2px 1px 0px var(--red-2),
    -2px 2px 0px var(--red-2),
    -2px 3px 0px var(--red-2),
    -2px 4px 0px var(--red-2),
    -2px 5px 0px var(--red-2),
    -1px -5px 0px var(--red-2),
    -1px -4px 0px var(--red-2),
    -1px -3px 0px var(--red-2),
    -1px -2px 0px var(--red-2),
    -1px -1px 0px var(--red-2),
    -1px 0px 0px var(--red-2),
    -1px 1px 0px var(--red-2),
    -1px 2px 0px var(--red-2),
    -1px 3px 0px var(--red-2),
    -1px 4px 0px var(--red-2),
    -1px 5px 0px var(--red-2),
    0px -5px 0px var(--red-2),
    0px -4px 0px var(--red-2),
    0px -3px 0px var(--red-2),
    0px -2px 0px var(--red-2),
    0px -1px 0px var(--red-2),
    0px 1px 0px var(--red-2),
    0px 2px 0px var(--red-2),
    0px 3px 0px var(--red-2),
    0px 4px 0px var(--red-2),
    0px 5px 0px var(--red-2),
    1px -5px 0px var(--red-2),
    1px -4px 0px var(--red-2),
    1px -3px 0px var(--red-2),
    1px -2px 0px var(--red-2),
    1px -1px 0px var(--red-2),
    1px 0px 0px var(--red-2),
    1px 1px 0px var(--red-2),
    1px 2px 0px var(--red-2),
    1px 3px 0px var(--red-2),
    1px 4px 0px var(--red-2),
    1px 5px 0px var(--red-2),
    2px -5px 0px var(--red-2),
    2px -4px 0px var(--red-2),
    2px -3px 0px var(--red-2),
    2px -2px 0px var(--red-2),
    2px -1px 0px var(--red-2),
    2px 0px 0px var(--red-2),
    2px 1px 0px var(--red-2),
    2px 2px 0px var(--red-2),
    2px 3px 0px var(--red-2),
    2px 4px 0px var(--red-2),
    2px 5px 0px var(--red-2),
    3px -5px 0px var(--red-2),
    3px -4px 0px var(--red-2),
    3px -3px 0px var(--red-2),
    3px -2px 0px var(--red-2),
    3px -1px 0px var(--red-2),
    3px 0px 0px var(--red-2),
    3px 1px 0px var(--red-2),
    3px 2px 0px var(--red-2),
    3px 3px 0px var(--red-2),
    3px 4px 0px var(--red-2),
    3px 5px 0px var(--red-2),
    4px -5px 0px var(--red-2),
    4px -4px 0px var(--red-2),
    4px -3px 0px var(--red-2),
    4px -2px 0px var(--red-2),
    4px -1px 0px var(--red-2),
    4px 0px 0px var(--red-2),
    4px 1px 0px var(--red-2),
    4px 2px 0px var(--red-2),
    4px 3px 0px var(--red-2),
    4px 4px 0px var(--red-2),
    4px 5px 0px var(--red-2),
    5px -5px 0px var(--red-2),
    5px -4px 0px var(--red-2),
    5px -3px 0px var(--red-2),
    5px -2px 0px var(--red-2),
    5px -1px 0px var(--red-2),
    5px 0px 0px var(--red-2),
    5px 1px 0px var(--red-2),
    5px 2px 0px var(--red-2),
    5px 3px 0px var(--red-2),
    5px 4px 0px var(--red-2),
    5px 5px 0px var(--red-2),
    0px 0px 10px rgba(0, 0, 0, 0.5);

    --red-2-text-stroke-3: -3px -3px 0px var(--red-2),
    -3px -2px 0px var(--red-2),
    -3px -1px 0px var(--red-2),
    -3px 0px 0px var(--red-2),
    -3px 1px 0px var(--red-2),
    -3px 2px 0px var(--red-2),
    -3px 3px 0px var(--red-2),
    -2px -3px 0px var(--red-2),
    -2px -2px 0px var(--red-2),
    -2px -1px 0px var(--red-2),
    -2px 0px 0px var(--red-2),
    -2px 1px 0px var(--red-2),
    -2px 2px 0px var(--red-2),
    -2px 3px 0px var(--red-2),
    -1px -3px 0px var(--red-2),
    -1px -2px 0px var(--red-2),
    -1px -1px 0px var(--red-2),
    -1px 0px 0px var(--red-2),
    -1px 1px 0px var(--red-2),
    -1px 2px 0px var(--red-2),
    -1px 3px 0px var(--red-2),
    0px -3px 0px var(--red-2),
    0px -2px 0px var(--red-2),
    0px -1px 0px var(--red-2),
    0px 1px 0px var(--red-2),
    0px 2px 0px var(--red-2),
    0px 3px 0px var(--red-2),
    1px -3px 0px var(--red-2),
    1px -2px 0px var(--red-2),
    1px -1px 0px var(--red-2),
    1px 0px 0px var(--red-2),
    1px 1px 0px var(--red-2),
    1px 2px 0px var(--red-2),
    1px 3px 0px var(--red-2),
    2px -3px 0px var(--red-2),
    2px -2px 0px var(--red-2),
    2px -1px 0px var(--red-2),
    2px 0px 0px var(--red-2),
    2px 1px 0px var(--red-2),
    2px 2px 0px var(--red-2),
    2px 3px 0px var(--red-2),
    3px -3px 0px var(--red-2),
    3px -2px 0px var(--red-2),
    3px -1px 0px var(--red-2),
    3px 0px 0px var(--red-2),
    3px 1px 0px var(--red-2),
    3px 2px 0px var(--red-2),
    3px 3px 0px var(--red-2);
}
    
@font-face {
    font-family: Inter;
    src: url('../production/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf');
}

.container {
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-rows: 15vh 1fr;
    grid-template-columns: 2fr 3fr 2fr;
    position: relative;
    background-color: var(--green-2);
}

.startGameDiv {
    scale: 0;
    transition: scale 750ms cubic-bezier(0.075, 0.82, 0.165, 1);
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    width: 70%;
    cursor: pointer;
    aspect-ratio: 5 / 2;
    border-radius: 12px;
    background-color: var(--green-2);
    border: 12px solid var(--green-1);
    box-shadow: 0 0 16px 16px rgba(0, 0, 0, 0.5),
    0 0 32px 16px rgba(0, 0, 0, 0.25),
    0 0 64px 16px rgba(0, 0, 0, 0.125);
    color: var(--red-1);
    font-size: 4rem;
    font-weight: 800;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    text-shadow: var(--red-2-text-stroke-3)
}

.startGameDiv.active {
    scale: 1;
}

.winScreen {
    display: none;
}

.container > .title {
    font-size: 10vh;
    color: #ED687A;
    font-weight: 900;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--green-1);
    text-shadow: var(--red-2-text-stroke-5);
    grid-column: span 3;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    z-index: 10000;
}

.smallSpace { /* this seperates the spacing between the letters */
    font-size: 2vh;
}

.left, .right {
    padding-top: 10%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.title {
    font-size: 3.5rem;
    font-weight: 900;
    text-align: center;
}

.left .settings, .controls {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.left .setting, .control {
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: var(--green-1);
    width: 75%;
    border-radius: 8px;
    aspect-ratio: 12 / 2;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 0 3%;
}

.left .setting > .key, .left .setting > .value, .control > .key, .control > .value {
    display: flex;
    align-items: center;
}

.left .setting > .key, .control > .key {
    border-right: 5px solid var(--green-2);
}

.values {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.values .value[data-active="true"] {
    color: #ED687A;
}

.values .value {
    user-select: none;
}

.value {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2.75rem;
    width: 100%;
    font-weight: 600;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
}

.controls .value {
    cursor: pointer;
}

.score {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 10%;
}

.scoreValue {
    font-size: 2.75rem;
}

.game {
    width: 100%;
    height: 100%;
    display: flex;    
    justify-content: center;
    align-items: center;
}

.canvasWrapper {
    width: 100%;
    max-height: 70vh;
    aspect-ratio: 1;
    /* max-height: 70vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

canvas {
    border: 12px solid var(--green-1);
    border-radius: 8px;
    flex-grow: 0;
    flex-shrink: 0;
    image-rendering: crisp-edges;
}

.winLoseScreen {
    scale: 0;
    transition: scale 750ms cubic-bezier(0.075, 0.82, 0.165, 1);
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    width: 85%;
    height: 85%;
    border: 12px solid var(--green-1);
    border-radius: 8px;
    background-color: var(--green-2-translucent);
    display: grid;
    grid-template-rows: 2fr 6fr 2fr;
}

.winLoseScreen.active {
    scale: 1;
}

.winLoseScreen .header {
    width: 100%;
    height: 100%;
    background-color: var(--green-1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.winLoseScreen .content {
    display: flex;
    flex-direction: column;
}

.winLoseScreen .title {
    text-align: center;
    font-size: 4rem;
    color: var(--red-1);
    text-shadow: var(--red-2-text-stroke-3);
}

.winLoseScreen .score {
    font-size: 4rem;
    font-weight: 800;
    margin: 3%;
}

.highScore {
    padding: 2% 5%;
    opacity: 0.8;
    font-size: 2.25rem;
    font-weight: 800;
}

.winSettings {
    width: 100%;
    padding: 0 5%;
    display: grid;
    grid-template-columns: 5fr 1fr;
}

.winSettings .settings, .winSettings .values {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1.75rem;
    font-weight: 700;
    width: 100%;
    height: 100%;
}

.winSettings .settings .setting {
    width: 100%;
}

.winSettings .settings .value {
    width: 100%;
    text-align: right;
}

.buttonsWrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.buttonsWrapper button {
    width: 25%;
    aspect-ratio: 5 / 2;
    background-color: var(--green-1);
    border-radius: 6px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-weight: 700;
    font-size: 2rem;
    cursor: pointer;
    transition: scale 750ms cubic-bezier(0.075, 0.82, 0.165, 1), 
    filter 750ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.buttonsWrapper button:hover {
    scale: 1.1;
    filter: brightness(1.1);
}

.buttonsWrapper button:active {
    scale: 1.15;
}